.navbar-brand{
    font-family: 'Caveat', cursive;
}
.spp{
    color: rgb(240, 12, 152);
    font-weight: bold;
}

.hr1{
    color: rgb(0, 0, 0);
    
    margin-top: 62px;
}
.carousel-caption{
    margin-right: 400px;
    
    font-weight: bolder;
    font-size: 30px;   
}
.h1{
    font-size: 80px;
}
/* =====cards==== */
.img-container{
    position: relative;
  }
  .img-container{
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .btn{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: aliceblue;
    font-family: sans-serif;
  }
  .img-container:hover .image{
    opacity: 0.9;
  }
  .img-container:hover .btn{
    opacity: 1;
    
  }
 .ht{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 35%;
    transform:translate(-20%, -60%);
    color: aliceblue;
    font-family: sans-serif;
 }
 /* ===for bts==== */
 .bts{
    top: 85%;
    left: 40%;
    transform:translate(-20%, -60%);
    color: aliceblue;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    font-family: sans-serif;
 }
 .ht1{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 35%;
    transform:translate(-20%, -60%);
    color: aliceblue;
    font-family: sans-serif;
 } 
  /* ====footer=== ===========================*/
 footer{
        height: 500px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        margin-top: 20px;   
 }
 .fh1{
color: rgb(105, 138, 138);
    margin-top: 40px;
 }
.fp1{
     margin-top: 15px;
    text-align: justify; 
}
.fp2{
    /* margin-top: 40px;
    font-size: 12px; */
        font-size: 12px;
}
/* ====foote media links=== */
.fm1{
    /* margin-left: 40px;
    margin-top: 90px;
    transform: translate(10%, -0%); */
    padding-left: 70px;
}
.fh2{
     color: rgb(68, 85, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px; */
}
.fl1{
    /* list-style: none;
    margin-top: 25px;
    transform: translate(-5%, 10%); */
    /* margin-left: 20px; */
    list-style: none;
}
.fh3{
    /* font-size: 25px; */
    font-size: 30px;
}
.fl2{
    /* list-style: none;
    margin-top: 25px;
    transform: translate(-22%, 10%); */
    list-style: none;
}
.fm2{
    /* margin-top: 75px; */
    /* margin-right: 20px;
    transform: translate(10%, 5%); */
    padding-left: 155px;
}
/* ====help=== */
.fl3{
    /* list-style: none;
    margin-top: 25px; */
    /* transform: translate(-22%, 10%); */
    list-style: none;
}
.fm3{
    /* margin-top: 70px; */
    /* margin-right: 20px;
    transform: translate(90%, 5%); */
    padding-left: 140px;
}
 /* ====end of footer======================== */
/* .spp1{
    margin-left: 185px;
}
.spp2{
    margin-left: 195px;
}
.spp3{
    margin-left: 108px;
}
.spp4{
    margin-left: 140px;
}
.spp5{
    margin-left: 143px;
}
.spp6{
    margin-left: 140px;
}
.spp7{
    margin-left: 132px;
}
.spp8{
    margin-left: 169px;
}
.spp9{
    margin-left: 123px;
}
.spp10{
    margin-left: 186px;
} */
.op3{
    height: 350px;
    width: 100%;
}
.oph1{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 75%;
    left: 13%;
    transform:translate(-20%, -60%);
    color: whitesmoke;
    font-family: sans-serif;
    font-weight:normal;
 }